.datepicker
    .datepicker--start
        label(for="datepicker-start") Check-In
        input(id="datepicker-start" type="text" placeholder="YYYY-MM-DD")
        label(for="datepicker-start" class="datepicker__chevron-start") 
            i(class="fas fa-chevron-down")
    .datepicker--end
        label(for="datepicker-end") Check-Out
        input(id="datepicker-end" type="text" placeholder="YYYY-MM-DD")
        label(for="datepicker-end" class="datepicker__chevron-end") 
            i(class="fas fa-chevron-down")