.dropdown
    .dropdown__content#dropdown-counter
        .dropdown__title How many Guests ?
        i.fas.fa-chevron-right#chevron-counter
    .dropdown__menu.hide
        .dropdown__option
            .dropdown__option--adults
                span Adults
            .dropdown__option--count
                button.decrease#decrease1 -
                span.counter#counter1 0
                button.increase#increase1 +
        .dropdown__option
            .dropdown__option--children
                span Children
            .dropdown__option--count
                button.decrease#decrease2 -
                span.counter#counter2 0
                button.increase#increase2 +
        .dropdown__option
            .dropdown__option--babies
                span Babies
            .dropdown__option--count
                button.decrease#decrease3 -
                span.counter#counter3 0
                button.increase#increase3 +
        .dropdown__option
            span.dropdown__clear clear
            span.dropdown__confirm confirm