section.section-main
    img(src="/assets/img/image1.png", alt="main-image" class="section-main__img")
    .section-main__box
        .section-main__content
            h1.section-main__heading We will find rooms according to your wishes
            .section-main__datepicker
                include ../components/datepicker.pug
            .section-main__dropdown
                include ../components/dropdown.pug
            .section-main__button
                include ../components/primary-button.pug

    p.section-main__text The best rooms for your work, relaxation and just inspiration