// Color

$primary-color-pink-light: #bc9cff;
$primary-color-blue-light: #8ba4f9;

$primary-color-pink-dark: #c56ae9;
$primary-color-blue-dark: #5b81ff;

$secondary-color-light: rgba(31, 32, 65, 0.5);
$secondary-color-dark: rgba(31, 32, 65, 0.75);

$default-color: #1f2041;

$color-white: #fff;

$border-secondary-color: rgba(31, 32, 65, 0.25);

// typography

$font-size-small: 1.7rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;

$font-size-chevron: 1.2rem;

// transition

$default-transition: all 0.4s;